{
  "presets": [
    "stage-0",
    "es2015",
    "react"
  ],
  "env": {
    "start": {
      "presets": [
        "transform-react-jsx",
        "transform-class-constructor-call",
        "transform-class-properties",
        "transform-function-bind",
        "react-hmre"
      ]
    }
  }
}
