<div class='factchecker-fact-facebook'>
  <div class='factchecker-fact-details factchecker-fact-unmatched factchecker-fact-${statusClass}'>
    <div class='factchecker-fact-details__header'>
      <div class='factchecker-fact-details__statusc'>
        <div class='factchecker-fact-details__status'>${ status }</div>
      </div>
    </div>
    <div class='factchecker-fact-details__footer'>
      <div class='factchecker-details--footer__logo'>
        <img src='${ logo }' alt='Factual' />
      </div>
      <div class='factchecker-details--footer__more'>
        Vezi pe <a href='${ url }' target='_blank'>factual.ro</a> de ce afirmația este ${stext}.
      </div>
      <div class='factchecker-details--footer__share'>
        <a href='https://www.facebook.com/sharer/sharer.php?u=${ url }' target='_blank'>Share</a>
      </div>
    </div>
  </div>
</div>