<div class="factchecker-fact-details-footnote__container">
  <button class="factchecker-fact-details-footnote__button">
    <svg class="factchecker-fact-details-footnote__button__circle" viewBox="0 0 6 6" preserveAspectRatio="xMinYMin"><circle r="3" cx="3" cy="3" fill="white"></circle></svg>
    <svg class="factchecker-fact-details-footnote__button__circle" viewBox="0 0 6 6" preserveAspectRatio="xMinYMin"><circle r="3" cx="3" cy="3" fill="white"></circle></svg>
    <svg class="factchecker-fact-details-footnote__button__circle" viewBox="0 0 6 6" preserveAspectRatio="xMinYMin"><circle r="3" cx="3" cy="3" fill="white"></circle></svg>
  </button>
</div>
